.currencyList {
  padding: 3px;
  align-items: center;
  .currencyInfo {
    display: flex;
    align-items: center;
    gap: 65px;
    @media (max-width: 310px) {
      gap: 45px;
    }
    p {
      color: #626060;
      font-size: 12px;
      font-family: Roboto Condensed;
    }
    span {
      font-family: Roboto Condensed;
      font-size: 25px;
      color: rgb(61, 55, 55);
      font-weight: bold;
    }
  }
  .inputBlock {
    display: flex;
    gap: 11px;
    align-items: center;
    input {
      width: 250px;
      padding: 5px 3px;
      border-radius: 10px;
      border: 1px solid #f1ecec;
      font-size: 20px;
      background-color: rgb(230, 222, 237);
      color: #8f8a8a;
      box-shadow: 3px 1px 7px 0 #999;
      &:focus {
        border: 2px solid #fefefe;
      }
      @media (max-width: 310px) {
        width: 220px;
        padding: 2px 1px;
      }
    }
    .closeBtn {
      transition: 0.3s;
      border: none;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      cursor: pointer;
      background-color: rgb(45, 200, 200);
      box-shadow: 3px 1px 7px 0 #999;
      width: 20px;
      height: 20px;
      opacity: 0.9;
      @media (max-width: 310px) {
        width: 15px;
        height: 15px;
      }
      &:hover {
        background-color: rgb(40, 183, 183);
      }
      &:active {
        background-color: #40a3c2;
        box-shadow: 3px 1px 7px 0 #787878;
        transform: translate(1px);
      }
      .close {
        width: 6px;
        height: 6px;
        opacity: 0.5;
      }
    }
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
